<h1>Add Books Here</h1>

<%= form_for(@books) do |form|%>
<div><%= form.label :name %> <%= form.text_field :name %></div>
<div><%= form.label :date %> <%= form.text_field :date %></div>
<div><%= form.label :price %> <%= form.text_field :price %></div>
<div><%= form.label :page %> <%= form.text_field :page %></div>
<div><%= form.label :ISBN %> <%= form.text_field :ISBN %></div>
<%= form.submit %> <% end %>
